@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
      @apply text-[32px];
    }
    h2 {
      @apply text-xl;
    }
    h3 {
        @apply text-[13px];

      }
 
}



img{
    max-width: none;
}

h3 {
    /* font-size: 13px; */
    margin-left: 5px;
}

h1, h2, h4, h5, h6 {
    font-weight: bold;
}

.navbar-logo > img.escv-logo {
    width: 60px;
    margin-left: 0px;
    position: absolute;
      top: 15px;
      left: 8px;
      /* transform: translate(9%, 40%); */
}

.navbar-logo > h3 {
    position: absolute;
    top: 20px;
    left: 75px;
}